/*body { padding-top: 60px; }*/
h1 { font-size:30px; }

.col-main .navbar-inverse { min-height:0; background: #6a7fd0; border:none; }
.col-main .navbar-inverse .navbar-brand { color: #eee; }
.col-main .navbar-inverse .navbar-nav > li { margin:0; }
.col-main .navbar-inverse .navbar-nav > li > a { color: #fff; padding:12px 15px; }
.col-main .navbar-inverse .navbar-nav > .active > a,
.col-main .navbar-inverse .navbar-nav > .active > a:hover,
.col-main .navbar-inverse .navbar-nav > .active > a:focus { background:rgba(0,0,0,0.15) ; }
.navbar > .container .navbar-brand { margin-left:0; }
#fdoc-navbar.affix { 
  top: 20px;
  width: 240px;
  }
#fdoc-navbar .nav .nav { display:none; }
#fdoc-navbar .nav > li > a { padding: 5px 20px; }
#fdoc-navbar .nav > .active .nav { display:block; }
#fdoc-navbar .nav .nav > li > a { padding: 3px 0 3px 30px; font-size: 90%; }
#fdoc-navbar .nav > .active > a { font-weight: bold; }
pre.well { background: #f8f8ff; }

code { position: relative; }
code:after {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    font-weight: bold;
    color: #bbb;
    text-transform: uppercase;
    letter-spacing: 1px;
}
code.php:after { content: 'PHP'; }
code.yaml:after { content: 'YAML'; }
code.javascript:after { content: 'JavaScript'; }
code.stylesheet:after { content: 'CSS'; }
code.bash:after { content: 'Bash'; }
code.twig:after { content: 'Twig HTML'; }

.fdoc-callout {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}
.fdoc-callout-warning {
    background-color: #fefbed;
    border-color: #f1e7bc;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1080px;
  }
}