<div class="navbar navbar-inverse __navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{APP.href('fdoc/buckyball')}}">Buckyball API</a>
        <div class="nav-collapse __collapse">
            <ul class="nav navbar-nav">
                <li id="nav-section-core">
                    <a href="{{APP.href('fdoc/buckyball/core')}}">Core</a>
                </li>
                <li id="nav-section-module">
                    <a href="{{APP.href('fdoc/buckyball/module')}}">Modules</a>
                </li>
                <li id="nav-section-controller">
                    <a href="{{APP.href('fdoc/buckyball/controller')}}">Controllers</a>
                </li>
                <li id="nav-section-db">
                    <a href="{{APP.href('fdoc/buckyball/db')}}">DB &amp; Models</a>
                </li>
                <li id="nav-section-layout">
                    <a href="{{APP.href('fdoc/buckyball/layout')}}">Layout &amp; Views</a>
                </li>
                <li id="nav-section-misc">
                    <a href="{{APP.href('fdoc/buckyball/misc')}}">Miscellaneous</a>
                </li>
                <li id="nav-section-plugins">
                    <a href="{{APP.href('fdoc/buckyball/plugins')}}">Plug Ins</a>
                </li>
                <li id="nav-section-eventhooks">
                    <a href="{{APP.href('fdoc/buckyball/eventhooks')}}">Event Hooks</a>
                </li>
                <li id="nav-section-fulleron">
                    <a href="{{APP.href('fdoc/fulleron')}}"><strong>Fulleron</strong></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    {{ THIS.hook('fdoc-section') | raw }}
</div>
