<div class="row">
    <div class="col-lg-3">
        <div class="well" id="fdoc-navbar">
            <ul class="nav">
                <li>
                    <a href="#misc-Overview">Overview</a>
                </li>
                <li>
                    <a href="#misc-Cache">Cache</a>
                    <ul class="nav">
                        <li>
                            <a href="#misc-Cache-Backends">Backends</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#misc-Data">Data</a>
                    <ul class="nav">
                        <li>
                            <a href="#misc-Data-Value">Custom Value</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#misc-Debug">Debugging</a>
                    <ul class="nav">
                        <li>
                            <a href="#misc-Debug-Mode">Run Modes</a>
                        </li>
                        <li>
                            <a href="#misc-Debug-Logging">Logging</a>
                        </li>
                        <li>
                            <a href="#misc-Debug-Profiling">Profiling</a>
                        </li>
                        <li>
                            <a href="#misc-Debug-WarningsErrors">Warnings &amp; Errors</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#misc-Util">Utilities</a>
                    <ul class="nav">
                        <li>
                            <a href="#misc-Util-StringTools">String Tools</a>
                        </li>
                        <li>
                            <a href="#misc-Util-ArrayTools">Array Tools</a>
                        </li>
                        <li>
                            <a href="#misc-Util-URLTools">URL Tools</a>
                        </li>
                        <li>
                            <a href="#misc-Util-FileTools">File Tools</a>
                        </li>
                        <li>
                            <a href="#misc-Util-HTMLTools">HTML Tools</a>
                        </li>
                        <li>
                            <a href="#misc-Util-Encryption">Encryption</a>
                        </li>
                        <li>
                            <a href="#misc-Util-Hashing">Hashing</a>
                        </li>
                        <li>
                            <a href="#misc-Util-Logging">Logging</a>
                        </li>
                        <li>
                            <a href="#misc-Util-HTTPClient">HTTP Client</a>
                        </li>
                        <li>
                            <a href="#misc-Util-FTPClient">FTP Client</a>
                        </li>
                        <li>
                            <a href="#misc-Util-Format">Format Conversion</a>
                        </li>
                        <li>
                            <a href="#misc-Util-Other">Other Goodies</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#misc-Email">Email</a>
                </li>
                <li>
                    <a href="#misc-Validate">Input Validation</a>
                </li>
                <li>
                    <a href="#misc-Locale">Localization</a>
                    <ul class="nav">
                        <li>
                            <a href="#misc-Locale-Translations">Translations</a>
                        </li>
                        <li>
                            <a href="#misc-Locale-Currency">Currency</a>
                        </li>
                        <li>
                            <a href="#misc-Locale-Dates">Dates</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#misc-LoginThrottle">Login Throttling</a>
                </li>
                <li>
                    <a href="#misc-YAML">YAML</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="fdoc-section">
            <div class="page-header">
                <h1 id="misc-Overview">Overview</h1>
            </div>
        </div>

        <div class="fdoc-section">
            <div class="page-header">
                <h1 id="misc-Cache">Cache</h1>
            </div>
<pre class="well well-small"><code class="php">
$cache = BCache::i(); // $this->BCache if within class method

$cache->save($key, $data, $ttl = null);

$data = $cache->load($key);

$cache->delete($key);
</code></pre>
            <h3 id="misc-Cache-Backends">Backends</h3>
<pre class="well well-small"><code class="php">$cache->addBackend('custom', 'My_Cache_Backend');

$cache->getBackend('custom');
</code></pre>
        </div>

        <div class="fdoc-section">
            <div class="page-header">
                <h1 id="misc-Data">Data</h1>
            </div>
<pre class="well well-small"><code class="php">$data = BData::i(true, array('foo'=>'bar', 'a'=>'b'));
foreach ($data as $k=>$v) {
    echo $k.': '.$v."\n";
}
</code></pre>
            <h3 id="misc-Data-Value">Custom Value</h3>
<pre class="well well-small"><code class="php">$value = new BValue('A String Value');
echo $value;
</code></pre>
        </div>

        <div class="fdoc-section">
            <div class="page-header">
                <h1 id="misc-Debug">Debugging</h1>
            </div>

            <h3 id="misc-Debug-Mode">Run Modes</h3>

            <h5>DEBUG</h5>
            <h5>DEVELOPMENT</h5>
            <h5>STAGING</h5>
            <h5>PRODUCTION</h5>
            <h5>MIGRATION</h5>
            <h5>INSTALLATION</h5>
            <h5>RECOVERY</h5>
            <h5>DISABLED</h5>

            <h3 id="misc-Debug-Logging">Logging</h3>

<pre class="well well-small"><code class="php">BDebug::debug('Point to debug');</code></pre>

            <h3 id="misc-Debug-Profiling">Profiling</h3>

<pre class="well well-small"><code class="php">$p1 = BDebug::debug('Point to profile');
// .. some code here
BDebug::profile($p1);
</code></pre>
            <h3 id="misc-Debug-WarningsErrors">Warnings &amp; Errors</h3>
            <p>Depending on run mode debug presets, each message will trigger appropriate action</p>
<pre class="well well-small"><code class="php">BDebug::info('Informational message');
BDebug::notice('Notice message');
BDebug::warning('Warning message');
BDebug::error('Error message');
BDebug::critical('Critical message');
BDebug::alert('Alert message');
</code></pre>

        </div>

        <div class="fdoc-section">
            <div class="page-header">
                <h1 id="misc-Util">Utilities</h1>
            </div>

            <h3 id="misc-Util-StringTools">String Tools</h3>

<pre class="well well-small"><code class="php">$util = BUtil::i(); // $this->BUtil if within class method

$util->injectVars($str, $vars);

$util->isEmptyDate($date);

$util->nextStringValue($string, $chars = null);

$util->previewText($text, $limit);

$util->randomString($strLen = 8, $chars = null);
$util->randomPattern($pattern);

$util->simplifyString($str, $pattern = '#[^a-z0-9-]+#', $filler = '-');

$util->sprintfn($format, $args);

</code></pre>

            <h3 id="misc-Util-ArrayTools">Array Tools</h3>

<pre class="well well-small"><code class="php">$util->arrayCleanInt($array);

$util->arrayCompare($array1, $array2);

$util->arrayFind($array, $filter);

$util->arrayInsert($array, $items, $where);

$util->arrayMask($source, $fields, $inverse = false, $setNulls = true);

$util->arrayMerge();

$util->arrayToObject($array);
$util->objectToArray($object);

$util->arrayToOptions($source, $labelField, $keyField = null, $emptyLabel = null);

$util->arrayWalk($array, $callback, $args = array(), $ignoreExceptions = false);

$util->topoSort($array, $args = array());
</code></pre>

            <h3 id="misc-Util-URLTools">URL Tools</h3>

<pre class="well well-small"><code class="php">$util->isUrlFull($url);

$util->paginateSortAttr($url, $state, $field, $class);
$util->paginateSortUrl($url, $state, $field);

$util->setUrlQuery($url, $params);

$util->unparseUrl($parsedUrl);
</code></pre>

            <h3 id="misc-Util-FileTools">File Tools</h3>

<pre class="well well-small"><code class="php">$util->ensureDir($dir);
$util->globRecursive($pattern, $flags = 0);
$util->isPathAbsolute($path);
$util->normalizePath($path);
</code></pre>

            <h3 id="misc-Util-HTMLTools">HTMLTools</h3>

<pre class="well well-small"><code class="php">$util->optionsHtml($options, $default);

$util->tagHtml($tag, $attrs = array(), $content = null);
</code></pre>
            <h3 id="misc-Util-Encryption">Encryption</h3>

<pre class="well well-small"><code class="php">$util->encrypt($value, $key = null, $base64 = true);
$util->decrypt($value, $key = null, $base64 = true);
</code></pre>

            <h3 id="misc-Util-Hashing">Hashing</h3>

<pre class="well well-small"><code class="php">$util->sha512base64($str);

$util->fullSaltedHash($string, $salt = null, $algo = null, $iter = null);
$util->validateSaltedHash($string, $storedHash);

// PHP implementations if missing:
hash_hmac($algo, $data, $key, $raw_output = false)
hash_pbkdf2($algorithm, $password, $salt, $count, $key_length, $raw_output = false)
password_hash($password);
password_verify($password, $hash);

// OATH HOTP (one time password)
oath_hotp($secret, $counter, $len = 8);
</code></pre>

            <h3 id="misc-Util-Logging">Logging</h3>

<pre class="well well-small"><code class="php">$util->log($msg, $file = 'debug.log');
</code></pre>

            <h3 id="misc-Util-HTTPClient">HTTP Client</h3>

<pre class="well well-small"><code class="php">$util->remoteHttp($method, $url, $data);
</code></pre>

            <h3 id="misc-Util-FTPClient">FTP Client</h3>

<pre class="well well-small"><code class="php">$ftp = BFtpClient::i(true, array(
    'hostname' => 'myserver.com',
    'port' => '21',
    'username' => 'ftpuser',
    'password' => 'ftppassword'
));

$ftp->upload($fromDirOrFile, $toPath);
</code></pre>

            <h3 id="misc-Util-Format">Format Conversion</h3>

<pre class="well well-small"><code class="php">$util->fromJson($json);
$util->toJson($array);
$util->jsonIndent($json);

$util->toJavaScript($val);

$util->toRss($data);

$util->formatDateRecursive($source, $format = 'm/d/Y');

$util->timeAgo($ptime, $now = null, $long = false);
</code></pre>

            <h3 id="misc-Util-Other">Other Goodies</h3>

<pre class="well well-small"><code class="php">$util->call($callback, $args = array(), $array = false);

$util->gravatar($email, $params = array();

$util->dump($data);

$util->zipExtract($filename, $targetDir);
</code></pre>

        </div>

        <div class="fdoc-section">
            <div class="page-header">
                <h1 id="misc-Email">Email</h1>
            </div>

<pre class="well well-small"><code class="php">$email = BEmail::i(); // $this->BEmail; if in class method

$email->send(array(
    'subject' => 'Email Subject',
    'from' => 'me@example.com',
    'to' => 'dest@example.com', // or array
    'cc' => 'cc@example.com', // or array
    'bcc' => 'bcc@example.com', // or array
    'x-some-header' => 'custom header',
    'body' => 'Message Body',
    'attach' => 'file/name.zip', // or array
));

$email->addHandler('my-handler', array('description'=>'Custom SMTP Service', 'callback' => 'MyEmail::handler'));

$email->setDefaultHandler('my-handler');

$email->getHandlers();
</code></pre>
        </div>

        <div class="fdoc-section">
            <div class="page-header">
                <h1 id="misc-Validate">Input Validation</h1>
            </div>
<pre class="well well-small"><code class="php">BValidate::i()->validateInput($data, $rules, 'form-name');

$errors = BValidate::i()->validateErrors();

class Model extends BModel
{
    $this->_validationRules = array(
        array('firstname', '@required'),
        array('lastname', '@required'),
        array('email', '@required'),
        array('email', '@email'),
        array('url', '@url'),
        array('password', '@required'),
        array('password_confirm', '@password_confirm'),
        array('custom_field', '/^regex$/', 'Invalid Custom Field', 'break'),
    );
}

$model->validate($data);
$model->validate($data, $additionalRules);
$model->validate($data, array(), 'form-name');


$validator = $view->validator($formName);
</code></pre>
        </div>
        <div class="fdoc-section">
            <div class="page-header">
                <h1 id="misc-Locale">Localization</h1>
            </div>

            <h3 id="misc-Locale-Translations">Translations</h3>

<pre class="well well-small"><code class="php">$l = BLocale::i();

$l->addTranslation($array);
$l->addTranslationFile($filename);

$l->importTranslations($data, $params = array());

$l->collectTranslations($rootDir, $targetFile);

$l->saveToCSV($targetFile, $array);
$l->saveToJSON($targetFile, $array);
$l->saveToPHP($targetFile, $array);

$l->setCurrentLocale($locale);
$l->getCurrentLocale();

$l->_('Original String %s', $params);

$l->transliterate($str, $filter = '-');
</code></pre>

            <h3 id="misc-Locale-Currency">Currency</h3>

<pre class="well well-small"><code class="php">$l = BLocale::i();

$l->setCurrency($currency);

$l->currency($value, $currency = null);
</code></pre>

            <h3 id="misc-Locale-Dates">Dates</h3>

<pre class="well well-small"><code class="php">$l = BLocale::i();

$l->datetimeDbToLocal($value, $full = false);
$l->datetimeLocalToDb($value, $full = false);

$l->parseRequestDates($request, $fields = null);

$l->serverTz();
$l->tzOffset($ts = null);
</code></pre>

        </div>

        <div class="fdoc-section">
            <div class="page-header">
                <h1 id="misc-LoginThrottle">Login Throttling</h1>
            </div>

<pre class="well well-small"><code class="php">// example implementation, in your user model authentication method:

    static public function authenticate($username, $password)
    {
        if (empty($username) || empty($password)) {
            return false;
        }

        BLoginThrottle::i()->init('FCom_Admin_Model_User', $username); // init throttling

        /** @var FCom_Admin_Model_User */
        $user = static::i()->orm()->where(array('OR'=>array('username'=>$username, 'email'=>$username)))->find_one();
        if (!$user || !$user->validatePassword($password)) {

            BLoginThrottle::i()->failure(); // failed auth, delay response and block further attempts

            return false;
        }

        BLoginThrottle::i()->success(); // successful auth, unblock username

        return $user;
    }
</code></pre>
        </div>

        <div class="fdoc-section">
            <div class="page-header">
                <h1 id="misc-YAML">YAML</h1>
            </div>

<pre class="well well-small"><code class="php">BYAML::i()->load($filename, $cache = true);
BYAML::i()->parse($yamlData);

BYAML::i()->dump($arrayData);
</code></pre>
        </div>

        {{ THIS.view('disqus/embed') | raw }}
    </div>
</div>
